<!--一覧ページ-->

<% @post_images.each do |post_image| %>
<div>
  <!--link_toでは、doからendの間が、aタグで囲まれた状態。 結果、image_tagは、aタグに囲まれたimgタグになる-->
  <%= link_to post_image_path(post_image.id) do %>
  <%= image_tag post_image.get_image %>
  <%end%>
  <!--image_tagを使い、post_imageにActiveStorageで設定したimageを表示する-->
  <!--post_image.get_image : PostImageモデル内に記述したメソッドを呼び出している-->
  
  <p>投稿ユーザー画像：<%= image_tag post_image.user.get_profile_image(100,100) %></p>
  
  <p>投稿ユーザー画像：<%= image_tag 'sample-author1.jpg' %></p>
  <p>ショップ名：<%= post_image.shop_name %></p>
  <p>説明：<%= post_image.caption %></p>
  <p>ユーザーネーム：<%= post_image.user.name %></p>
  <!--post_image変数のuser_idに関連付けられているuserモデルのnameカラムを表示-->
  <p><%= link_to "#{post_image.post_comments.count} コメント", post_image_path(post_image.id) %></p>
  <!--コメント件数-->
</div>
<%end%>
