<!DOCTYPE html>
<html>
  <head>
    <title>Meshiterro</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--全てのhtmlに共通するヘッダー-->
    <% if user_signed_in? %> 
    <!--devise 側で用意しているヘルパーメソッド-->
    <!--ログインしている時としていない時で表示を分ける-->
      <li>
        <!--投稿フォームへのリンク-->
        <%= link_to '投稿フォーム', new_post_image_path %>
      </li>
      <li>
        <!--マイページへのリンク-->
        <%= link_to 'マイページ', user_path(current_user.id) %>
      </li>
     
      <li>
        <!--ログイン済みの場合にブラウザに表示-->
        <%= link_to "ログアウト", destroy_user_session_path,method: :delete %>
      </li>
    <% else %> 
        <!--ログインしていない場合にブラウザに表示-->
      <li>
        <%= link_to "新規登録", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "ログイン", new_user_session_path %>
      </li>
    <% end %>
  </header>
    <%= yield %>
  </body>
</html>
